@model CalCom.Web.Models.Laboratuvar.LaboratuvarViewModel
@{
    ViewBag.Title = "Referans Cihazlar";
    ViewBag.Lab = "UMS";
    ViewBag.Yonetici = "Mert Nar";
    ViewBag.CalismaAlani = "Demir Çelik Kalibrasyonu";
    ViewBag.ImagePath = "../../dist/img/user2-160x160.jpg";
}
        <div class="container">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
             Laboratuvar
              
            </h1>
            <ol class="breadcrumb">
                <li ><a href="Index"><i class="fa fa-dashboard"></i> Laboratuvar</a></li>
              <li class="active"> Referans Cihazlar</li>
            </ol>
          </section>

          <!-- Main content -->
          <section class="content"> <!-- renderBody() buraya gelecek, içerik burada değişecek hatta eğer ihtiyaç duyulursa "content-wrapper" dan da alınabilir. Çünkü her sayfa için değişecek yan menüyü sayfalara alırız.-->
            <div class="row"> 
             <div class="col-sm-3"> 
                 
                     <ul  class="nav nav-pills nav-stacked">
                        <li ><a href="#LabPanel" >Bilgiler</a></li>
                        <li><a href="LabTakvim"> Takvim</a></li>
                        <li class="active"><a href="ReferansCihazlar">Referans Cihazlar</a></li>

                    </ul>
                 
              </div> 
            <div class="col-sm-9">
                  <div class="box box-default tab-pane fade active in" id="LabPanel">
                     <div class="box-header with-border">
                     <h3 class="box-title">Referans Cihazlar</h3>
                     </div>
                     <div class="box-body" id="refCihaz">
                     <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Konu</th><td>Seri No</td><td>İmalatçı</td><td>Sınıf</td>                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach(var rc in Model.refler){
                                <tr><td>@rc.Konu</td><td>@rc.SeriNo</td><td>@rc.Imalatci</td><td>@rc.Sinif</td><td><button type="button" class="btn btn-danger" onclick="sil('@rc.Id')">SİL</button></td></tr>
                                        }
                                    </tbody>
                                        </table> 
                                    <div class="panel-footer"><button onclick="ekle()">Yeni Ekle</button></div>
                                       
                               
                    </div><!-- /.box-body -->
                 </div><!-- /.box -->
                 
            </div>
        </div>  

          </section><!-- /.content -->
      
        </div><!-- /.container -->

<script>

    function ekle() {

        $.ajax(
 {
     url: '/Laboratuvar/RCEklePartial',
     type: "GET",
     //data: { 'oaid': x },
     success: function (response) {
         $("#refCihaz").html(response);

     }
 });
    }

</script>
