@model CalCom.Web.Models.KayitBilgileri


<div class="row">
        <label  class="control-label col-xs-5">Test Geçici İsmi:</label>
        <div class="col-xs-7">
            @Model.GIsim

        </div>
    </div>


<div class="row">
        <label  class="control-label col-xs-5">Ölçüm Başlangıç Zamanı:</label>
        <div class="col-xs-7">
            @Model.OlcumZamaniBas

        </div>
    </div>

<div class="row">
        <label  class="control-label col-xs-5">Ölçüm Bitiş Zamanı:</label>
        <div class="col-xs-7">
            @Model.OlcumZamaniBit

        </div>
    </div>

<div class="row">
        <label  class="control-label col-xs-5">Karşılaştırma Başlangıç Zamanı:</label>
        <div class="col-xs-7">
            @Model.TestBas

        </div>
    </div>

<div class="row">
        <label  class="control-label col-xs-5">Test Fiyatı:</label>
        <div class="col-xs-7">
            @Model.TestFiyat

        </div>
    </div>

