@model Calcom.Domain.Entities.Laboratuvarlar

<div class="row">
        <label  class="control-label col-xs-5">Laboratuvar Adı:</label>
        <div class="col-xs-2">
            @Model.Isim

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Yonetici:</label>
        <div class="col-xs-2">
            @Model.Yonetici

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Çalisma Alanı:</label>
        <div class="col-xs-2">
            @Model.CalismaAlani

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Faks:</label>
        <div class="col-xs-2">
            @Model.Faks

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Telefon Numarası:</label>
        <div class="col-xs-2">
            @Model.Telefon

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Cep Telefonu Numarası:</label>
        <div class="col-xs-2">
            @Model.Gsm

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Vergi Dairesi Numarası:</label>
        <div class="col-xs-2">
            @Model.VergiDairesiNo

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Adres:</label>
        <div class="col-xs-2">
            @Model.Adres

        </div>
    </div>
<div class="row" >
        <label  class="control-label col-xs-5">Şehir:</label>
        <div class="col-xs-2">
            @Model.Sehir

        </div>
    </div>
