@model Calcom.Domain.Entities.OlcumAletleri

<div class="row">
        <label  class="control-label col-xs-5">Ölçüm Aleti:</label>
        <div class="col-xs-2">
            @Model.Isim

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Model:</label>
        <div class="col-xs-2">
            @Model.Model

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">İmalatçı:</label>
        <div class="col-xs-2">
            @Model.İmalatci

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Çözünürlük:</label>
        <div class="col-xs-2">
            @Model.Cozunurluk

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Bölüntü:</label>
        <div class="col-xs-2">
            @Model.Bölüntü

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Kapasite:</label>
        <div class="col-xs-2">
            @Model.Kapasite

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Birim:</label>
        <div class="col-xs-2">
            @Model.Birim

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Tip:</label>
        <div class="col-xs-2">
            @Model.Tip

        </div>
    </div>
<div class="row">
        <label  class="control-label col-xs-5">Seri No:</label>
        <div class="col-xs-2">
            @Model.SeriNo

        </div>
    </div>
