@model Calcom.Domain.Entities.OlcumAletleri
<table>
    <tbody>
        <tr>
            <td>Birim</td>
            <td>@Model.Birim</td>
            </tr><tr>
            <td>Bölüntü</td>
            <td>@Model.Bölüntü</td>
        </tr>
        <tr>
                        <td>Çözünürlük</td>

            <td>@Model.Cozunurluk</td>
                        </tr><tr>
            <td>İmalatçı</td>

            <td>@Model.İmalatci</td>
                                        </tr><tr>
            <td>Kapasite</td>

            <td>@Model.Kapasite</td>
                                                        </tr><tr>
            <td>Model</td>

            <td>@Model.Model</td>   
                                        </tr><tr>
            <td>Seri No</td>
            <td>@Model.SeriNo</td>

        </tr>
    </tbody>
</table>