@model CalCom.Web.Models.YonetViewModel
@{
    ViewBag.Title = "Yonet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-md-12">
    <div class="panel-heading">
        <h2>Karşılaştırma Yönetim</h2>
    </div>
    <div class="panel-body">








   <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Ölçüm Aleti
                            </th>
                            <th>Konu
                            </th>
                            <th>Ölçüm Aralığı
                            </th>
                             <th>Ölçüm Aralığı 
                            </th>
                             <th>Nerede
                            </th> <th>Protokol No
                            </th>
                             <th>Katılımcı Sayısı
                            </th>
                            <td>Git</td>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var t in Model.Takipler)
                        {
                            <tr onclick="rowClick('@t.OlcId')">
                                <td> @t.OlcumAleti </td>
                                <td>@t.KarKonu</td>
                                <td>@t.OlcumAraligiBas</td>
          <td>@t.OlcumAraligiBit</td>
                                <td>@t.Nerede</td>
                                <td>@t.ProtocolNo</td>
                                <td>@t.KatilanLab</td>
                               <td ><a href="~/KarsilastirmaTakip/Ayrinti?Testid=@t.OlcId">
          <span class="glyphicon glyphicon-zoom-in"></span>
        </a></td>

                            </tr>
                        }
                    </tbody>
                </table>
             
             <span id="partialSpan"></span>
	        
        </div>
    </div>
     
<script>
   function rowClick(id){
       $.ajax(
{
    url: '/KarsilastirmaTakip/YonetPartial',
    type: "GET",
    data: { 'TestId': id },
    success: function (response) {
        $("#partialSpan").html(response);

    }
});
    }
</script>